<button
    [attr.type]="buttonType"
    [disabled]="disabled || loading"
    [class.loading]="loading"
    [attr.aria-busy]="loading ? true : null"
    [attr.aria-label]="ariaLabel"
    [attr.aria-expanded]="ariaExpanded"
    [attr.aria-haspopup]="ariaHaspopup"
    [attr.title]="title"
    [attr.data-action]="dataAction"
    [ngClass]="buttonClass"
    (click)="handleClick($event)"
>
    <app-loading-spinner
        *ngIf="loading"
        class="button-spinner"
        [size]="spinnerSize"
        [thickness]="spinnerThickness"
        [speedMs]="spinnerSpeedMs"
    ></app-loading-spinner>
    <span class="button-content"><ng-content></ng-content></span>
</button>
