:host {
    display: inline-block;
}

button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

button:disabled {
    cursor: not-allowed;
}

button.loading {
    gap: 0.5rem;
}

.button-spinner {
    display: inline-flex;
}
