<div
    class="launch-dropdown"
    [class.open]="menuOpen"
    [class.compact]="compact"
    (click)="$event.stopPropagation()"
    cdkOverlayOrigin
    #triggerOrigin="cdkOverlayOrigin"
>
    <app-rail-button
        [buttonClass]="buttonClass"
        [loading]="isBusy"
        [disabled]="isDisabled"
        [ariaLabel]="ariaLabel"
        [ariaExpanded]="menuOpen"
        ariaHaspopup="menu"
        [title]="title"
        [stopPropagation]="true"
        (action)="toggleMenu()"
    >
        <app-icon-code-brackets
            class="trigger-icon"
            aria-hidden="true"
        ></app-icon-code-brackets>
        <span class="trigger-label">Open</span>
        <span class="caret" aria-hidden="true">▾</span>
    </app-rail-button>
</div>

<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="triggerOrigin"
    [cdkConnectedOverlayOpen]="menuOpen"
    [cdkConnectedOverlayPositions]="menuPositions"
    [cdkConnectedOverlayPush]="true"
>
    <div
        class="launch-menu"
        role="menu"
        [attr.aria-label]="ariaLabel"
        (click)="$event.stopPropagation()"
    >
        <button
            type="button"
            class="launch-menu-item"
            role="menuitem"
            *ngFor="let editor of editors"
            [disabled]="isBusy"
            (click)="choose(editor, $event)"
        >
            <app-editor-app-icon
                [icon]="editor.icon"
                [appName]="editor.name"
                [iconDataUrl]="editor.iconDataUrl ?? null"
            ></app-editor-app-icon>
            <span class="editor-name">{{ editor.name }}</span>
        </button>

        <div class="launch-menu-divider" aria-hidden="true"></div>

        <button
            type="button"
            class="launch-menu-item launch-menu-item-special"
            role="menuitem"
            [disabled]="isBusy"
            (click)="openInExplorer($event)"
        >
            <app-icon-folder-open aria-hidden="true"></app-icon-folder-open>
            <span class="editor-name">{{ explorerLabel }}</span>
        </button>
    </div>
</ng-template>
